@media only screen and (min-width: 851px) {
    .hli {
        display: block!important;
    }
}


@media all and (max-width: 850px) {
    
    body{
        font-size:15px;
    }
    .title-log{
        font-size:13px;
    }
    /*アイコン*/
    #menu-icon {
        cursor: pointer;
        padding: 20px 25px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
    }
    #menu-icon.hover span {
        box-shadow: 0px 0px 10px #4169e1,
        0px 0px 20px #4169e1,
        0px 0px 30px #4169e1,
        0px 0px 40px #4169e1;
    }
    #menu-icon.close.hover span {
        box-shadow: 0px 0px 10px #ff7f50,
        0px 0px 20px #ff7f50,
        0px 0px 30px #ff7f50,
        0px 0px 40px #ff7f50;
    }
